{% extends 'base1.html.twig' %}
{% block sidebar %}
            <!-- ======= Sidebar ======= -->
            <aside id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link "href="{{ path('app_admin_index') }}">
                            <i class="bi bi-grid"></i>
                            <span>Gestion des utilisateurs</span>
                        </a>
                    </li><!-- End Dashboard Nav -->



                    
                </ul>

            </aside><!-- End Sidebar-->
        {% endblock %}
{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>SAfeEYE Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_admin_index') }}">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              
              <!-- Table with stripped rows -->
              <div class="dataTable-top">
            </div>
                  
        
                <center><a class="btn btn-primary rounded-pill " href="{{ path('app_membre_index') }}">Membre</a><a class="btn btn-primary rounded-pill " href="{{ path('app_agent_index') }}">Agent</a></center>
              
    <br>
    

              
             

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->


{% endblock %}